@media (min-width: 20%) {
    body {
        position: static;
    }
    
}
#ggle {
    position:fixed;
    left: 40.4%;
    top: 25.6%;
    z-index: -1;
    
}

#txt {
    border-radius: 20px;
    width: 31.3%;
    height: 4.1%;
    border-color: rgb(180, 180, 180);
    border-width:0.1mm;
    border-top-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    position:fixed;
    left: 32%;
    top: 40%;
    font-size: 17px;
    outline: 0;
}
#Srch{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position:fixed;
    left: 61.45%;
    top: 40.1%;
    background-color: rgb(246, 246, 246);
    border-width:0px;
}
.search:hover{
    box-shadow: 0px 1px 3px rgb(168, 168, 168);
}

.lnks {
    text-decoration: none;
    color: black;
    font-family: Arial;
    float: right;
}
.lnks:hover {
    text-decoration:underline;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: blue;
    position: absolute;
    left: 52.9%;
    top: 315px;
}
#src {
    margin-left: 20px;
}